<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" id="profile">
        <img src="/../Portolio-FontEnd/../../assets/profile-pic.jpg" alt="" class="img-fluid" id="profile-pic">
    </div>
    <div class="col-md-7 col-lg-7">
        <div class="col-xs-12 col-sm-12 " id="info">
            <h1 id="name">Ahumada Maximiliano Jose Abel</h1>
        </div>
        <div class="col-xs-12 col-sm-12" id="title">
            <p id="name-title">Full Stack Developer Jr</p>
        </div>
    </div>
    <div class="col-md-12 col-lg-12" id="container-acerca">
        <div class="col-xs-12 col-sm-12" id="about">
            <h2 id="acerca">Acerca de:</h2>
        </div>
        <div class="col-xs-12 col-sm-12" id="text">
            <p>Hola!, mi nombre es Maximiliano, tengo 22 años, vivo en La Rioja-Argentina. soy programador web full stack jr y estudiante de Arquitectura en la Universidad Nacional de La Rioja (UNLaR).</p>
        </div>
    </div>
</div>