<div class="row">
    <footer>
        <p>Ahumada Maximiliano | Arg Pr 2022</p>
        <p>La Rioja, Argentina</p>
        <div class="container-social">
            <a href="https://www.linkedin.com/in/maximiliano-ahumada-771246238/" target="_blank"><img src="../../../assets/linkedin-logo.png" alt="" id="linkedin"></a>
            <a href="https://www.instagram.com/maxi.ahumada__/?hl=es" target="_blank"><img src="../../../assets/instagram-logo.png" alt="" id="instagram"></a>
            <a href="https://github.com/Maxidarks" target="_blank"><img src="../../../assets/github-logo.png" alt="" id="github"></a>
        </div>
    </footer>
</div>