<div class="row">
    <h2>Experiencia:</h2>
    <ul>
        <li>
            <h3>trabajo 1</h3>
            <h4>(years)</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas perspiciatis ipsum dolorum aut vel hic natus, necessitatibus quo enim velit provident esse quod molestiae repellat eligendi iste eius cum explicabo.</p>
        </li>
    </ul>
    <ul>
        <li>
            <h3>trabajo 2</h3>
            <h4>(years)</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas perspiciatis ipsum dolorum aut vel hic natus, necessitatibus quo enim velit provident esse quod molestiae repellat eligendi iste eius cum explicabo.</p>
        </li>
    </ul>
    <ul>
        <li>
            <h3>trabajo 3</h3>
            <h4>(years)</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas perspiciatis ipsum dolorum aut vel hic natus, necessitatibus quo enim velit provident esse quod molestiae repellat eligendi iste eius cum explicabo.</p>
        </li>
    </ul>
</div>