<div class="row">
    <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Hard & soft skills:</h2>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <circle-progress
        [showTitle]="false"
        [showSubtitle]="false"
        [showUnits]="false"
        [imageSrc]="'../assets/html-logo.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="70"
        [percent]="90"
        [radius]="100"
        [outerStrokeWidth]="16"
        [space]="-20"
        [innerStrokeWidth]="26"
        [outerStrokeColor]="'#eb1d36'"
        [innerStrokeColor]="'#cfd2cf'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <circle-progress
        [showTitle]="false"
        [showSubtitle]="false"
        [showUnits]="false"
        [imageSrc]="'../assets/css-logo.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="70"
        [percent]="90"
        [radius]="100"
        [outerStrokeWidth]="16"
        [space]="-20"
        [innerStrokeWidth]="26"
        [outerStrokeColor]="'#eb1d36'"
        [innerStrokeColor]="'#cfd2cf'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <circle-progress
        [showTitle]="false"
        [showSubtitle]="false"
        [showUnits]="false"
        [imageSrc]="'../assets/illu-logo.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="70"
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="16"
        [space]="-20"
        [innerStrokeWidth]="26"
        [outerStrokeColor]="'#eb1d36'"
        [innerStrokeColor]="'#cfd2cf'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <circle-progress
        [showTitle]="false"
        [showSubtitle]="false"
        [showUnits]="false"
        [imageSrc]="'../assets/ps-logo.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="70"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="16"
        [space]="-20"
        [innerStrokeWidth]="26"
        [outerStrokeColor]="'#eb1d36'"
        [innerStrokeColor]="'#cfd2cf'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>
    </div>
</div>
