.row {
    background-color: #F5EDDC;
    padding: 0 0 1em 0;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    margin-left: 5px;
}
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 5px;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
}
img {
    width: 10em;
    margin: 5px;
}





@media (max-width:767px) {
    h2 {
        display: flex;
        justify-content: center;
    }
    p {
        font-size: 0.8em;
    }
}