<div class="row">
    <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Proyectos:</h2>
    <div class="container-fluid">
        <div>
            <h3>Portfolio Web-Argentina Programa</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet at rem numquam itaque ut veritatis neque possimus quae ad sunt corporis quisquam, dolorum a tenetur, enim earum cum corrupti in?</p>
        </div>
        <div>
            <img src="../assets/logo-arg-pr.png" alt="">
        </div>
    </div>
</div>
